<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQL_Test.Properties.Settings.LabviewConnectionString"
            connectionString="Data Source=a-kgesm02.svae.visteon.com;Initial Catalog=Labview;Persist Security Info=True;User ID=labview"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>